################################################
###############  .gitignore   ##################
################################################
*~
*#
.DS_STORE
.cache
.DS_Store

################################################
# AWS
#
# Protect acidental commit
#
################################################
.aws/*
credentials

################################################
# Terraform
#
################################################
.terraform
**/.terraform/*
*.tfstate
*.tfstate.*
*.tfvars
apply.me


################################################
# Vagrant
#
################################################
todo.txt
ubuntu-xenial-16.04-cloudimg-console.log
.vagrant